body {
    margin: 0;
    background-color: black;
    image-rendering: pixelated;
}

body { cursor: url('../images/cursor-retro-1.png'), auto; }

.aesthetic-windows-95-button { cursor: url('../images/cursor-retro-2.png'), auto !important; }

.aesthetic-windows-95-checkbox,  button, .aesthetic-windows-95-checkmark { cursor: url("../images/cursor-retro-2.png"), auto !important; }

.normal-back {
    background-image: url("../images/static-back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.animated-back {
    background-image: url("../images/animated-back.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#login {
    position: absolute;
    top: 45px;
    left: 2vw;
}

#options {
    position: absolute;
    top: 100px;
    right: 6vw;
}

#password { margin-top: 5px; }

.login-buttons {
    clear: both;
    width: 75%;
    margin: 0 auto;
    align-content: center;
}

.login-buttons .aesthetic-windows-95-button { 
    display: inline-block;
}

.aesthetic-windows-95-taskbar {
    font-weight: bold;
    position: absolute;
    padding-left: 0.2%;
    padding-right: 0.2%;
    width: 99.6%;
    bottom: 0;
}

.aesthetic-windows-95-taskbar span {
    font-size: 18px;
    margin-left: 5px;
}

.noselect { user-select: none; }

.oculta {
    display: none;
}

#game-window {
    position: absolute;
    top: 2vh;
    left: calc(50% - 500px);
    width: 1000px;
    height: 90vh;
}

#game-div { 
    background-color: black;
    margin: 3px auto;
    padding: 0;
    width: 99%;
    height: 96%;
}

.aesthetic-windows-95-button-title-bar {
    margin-left: 3px;
}

.aesthetic-windows-95-taskbar div:not(:last-child) {
    margin-right: 7px;
}

#game-taskbar-button {
    width: 130px;
}

#game-taskbar-button span{ margin: 0; }

#game-taskbar-button img{ width: 35px; }

.infront { background-color: #E4E4E4; }

.only-deco { cursor: url("../images/cursor-retro-3.png"), auto !important;}

audio {
    background-color: lightcyan;
    height: 30px;
    border: 2px solid #808080;
    border-bottom-color: #dfdfdf;
    border-right-color: #dfdfdf;
}
