body {
    margin: 0;
    background-color: black;
    background-image: url("images/resize-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login {
    position: absolute;
    top: 15px;
    left: 15px;
}

#login-sub-div {
    margin: 0 auto;
}

.aesthetic-windows-95-taskbar {
    position: absolute;
    padding-left: 0.2%;
    padding-right: 0.2%;
    width: 99.6%;
    bottom: 0;
}

.aesthetic-windows-95-taskbar span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

.noselect { user-select: none; }